[Desktop Entry]
Type=Application
Name=BeatBox
GenericName=Virtual live drummer pedal
Comment=Virtual live drummer pedal
Exec=beatbox
Icon=beatbox
Categories=AudioVideo;Audio;Music;Midi;
