[Desktop Entry]
Type=Application
Name=BeatBox
GenericName=Virtual live drummer pedal
Comment=Virtual live drummer pedal
Exec=BeatBox
Icon=BeatBox
Categories=AudioVideo;Audio;Music;Midi;
