[Desktop Entry]
Type=Application
Name=RhythmBox
GenericName=Virtual live drummer pedal
Comment=Virtual live drummer pedal
Exec=RhythmBox
Icon=RhythmBox
Categories=AudioVideo;Audio;Music;Midi;
